subscription_id = "REPLACE_SUBSCRIPTION_ID"
state_resource_group = "bychat-dev-tfstate-rg"
state_storage_account = "FROM_BOOTSTRAP_OUTPUT"
image = "YOUR_REGISTRY.azurecr.io/by-chat@sha256:REPLACE_IMAGE_DIGEST"
